$color-main: #f4511e;
$color-font-grey: #818181;
$color-font-black: #303030;
$color-font-light: #fff;
$color-btn: #e6e6e6;
$color-bg: #f6f6f6;
$color-bg-light: #ffffff;
$color-bg-grey: #818181;
$color-line: #ddd;
$signal-strength-bar-height: 170px;
$signal-strength-bar-width: 200px;

