header {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #f4511e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.menu {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__logo a {
  line-height: 1.2;
  font-size: 18px;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
}

.menu .button__menu {
  position: fixed;
  top: 2%;
  right: 8%;
  height: auto;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  border: 0;
  background-color: transparent;
}

.menu .button__menu:hover {
  opacity: .7;
}

.menu .button__menu.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(40deg);
          transform: translateY(10px) translateX(0) rotate(40deg);
  background: #fff;
}

.menu .button__menu.active .middle {
  opacity: 0;
  background: #f4511e;
}

.menu .button__menu.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-40deg);
          transform: translateY(-10px) translateX(0) rotate(-40deg);
  background: #fff;
}

.menu .button__menu span {
  background: #fff;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.menu .button__menu span:nth-of-type(2) {
  top: 10px;
}

.menu .button__menu span:nth-of-type(3) {
  top: 20px;
}

.menu .menu__nav .nav .active {
  background-color: #ffffff !important;
  color: #f4511e !important;
}

.menu .menu__nav ul li a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 4px;
  line-height: 1.4;
}

.menu .menu__nav ul li a:hover {
  background-color: #ffffff;
  color: #f4511e;
}

/* ------------------------------- FOOTER ------------------------------- */
footer {
  padding: 60px 0 50px;
}

footer .button-footer:hover {
  cursor: pointer;
}

footer .footer__icon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}

/* ------------------------- MENU ------------------------- */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100% !important;
  }
  header {
    height: auto;
  }
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .menu__nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .menu__nav .nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu .menu__nav .nav .mb-10 {
    margin-bottom: 10px;
  }
  .menu .menu__nav .nav.active {
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .menu .menu__nav .nav.java {
    max-height: 100vh;
  }
  .menu .button__menu {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .menu .button__menu {
    display: none;
  }
  .menu .menu__nav {
    display: block;
  }
}

/* ------------------------- BANNER ------------------------- */
@media only screen and (max-width: 767px) {
  .banner {
    font-family: 'Montserrat', sans-serif;
  }
  .banner .banner__text h1 {
    font-size: 36px !important;
  }
  .banner .banner__text h4 {
    color: #fff;
  }
}

/* ------------------------- ABOUT ------------------------- */
@media only screen and (max-width: 320px) {
  .about .container-fluid {
    padding: 0;
  }
  .about .about__btn {
    width: 100%;
    margin-bottom: 30px;
  }
  .about .values .values__logo {
    font-size: 150px !important;
    margin: 25px 0;
  }
}

@media only screen and (max-width: 480px) {
  .about .sizing-box {
    height: 150px !important;
    width: 175px !important;
  }
}

/* ------------------------- PORTFOLIO ------------------------- */
@media only screen and (max-width: 575px) {
  .owl-carousel .owl-prev {
    left: -50px !important;
  }
  .owl-carousel .owl-next {
    right: -50px !important;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio .owl-carousel .owl-prev i,
  .portfolio .owl-carousel .owl-next i {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .owl-carousel .owl-prev {
    left: -30px !important;
  }
  .owl-carousel .owl-next {
    right: -30px !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .owl-carousel .owl-prev {
    left: 50px !important;
  }
  .owl-carousel .owl-next {
    right: 50px !important;
  }
}

/* ------------------------- ALL ------------------------- */
@media only screen and (max-width: 767px) and (min-width: 321px) {
  /* ========= About ========= */
  .about .about-mw {
    max-width: 100%;
  }
  .about .about__btn {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* 

*/
html {
  scroll-behavior: smooth;
}

/* ------------------------------- BANNER ------------------------------- */
.banner {
  background-color: #f4511e;
  padding: 100px 25px;
  text-align: center;
  margin-bottom: 30px;
}

.banner .banner__text {
  color: #fff;
}

.banner .banner__text h1 {
  font-size: 63px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.banner .banner__text h4 {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 300;
}

.banner .banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner__form .banner__form-email {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.08);
          box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.08);
  width: 50%;
}

/* ------------------------------- ABOUT ------------------------------- */
.about {
  padding: 60px 50px 0;
}

.about .pb-60 {
  padding-bottom: 60px;
}

.about .about__title {
  font-size: 24px;
  margin: 20px 0 30px;
  color: #303030;
  font-weight: 600;
}

.about .about__content {
  font-size: 19px;
  margin: 10px 0 30px;
  line-height: 1.375;
  color: #303030;
  font-weight: 400;
}

.about .about__text {
  font-size: 15px;
  margin: 0 0 10px;
  color: #818181;
}

.about .about__btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #303030;
  background-color: #fff;
  border-color: #818181;
}

.about .about__btn:hover {
  background-color: #e6e6e6;
}

.about .sizing-box {
  height: 170px;
  width: 200px;
}

.about .signal-bars {
  display: inline-block;
}

.about .signal-bars .bar {
  width: 15%;
  margin-left: 7%;
  min-height: 20%;
  border-radius: 4px;
  display: inline-block;
}

.about .signal-bars .bar.first-bar {
  height: 25%;
}

.about .signal-bars .bar.second-bar {
  height: 50%;
}

.about .signal-bars .bar.third-bar {
  height: 75%;
}

.about .signal-bars .bar.fourth-bar {
  height: 100%;
}

.about .good .bar {
  background-color: #f4511e;
  border: thin solid #e33f0b;
}

.about .values {
  background-color: #f6f6f6;
  margin: 0 -50px;
  padding: 60px 50px 60px;
}

.about .values .globe {
  font-size: 200px;
  color: #f4511e;
}

/* ------------------------------- SERVICE ------------------------------- */
.cl-m {
  color: #f4511e;
  font-size: 50px;
}

.service {
  padding: 60px 50px;
}

.service .service__title .service__title-name {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
  margin: 20px 0 30px;
}

.service .service__title .service__title-logan {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
}

/* ------------------------------- PORTFOLIO ------------------------------- */
.portfolio {
  padding: 60px 50px;
  background-color: #f6f6f6;
}

.portfolio .portfolio__title .portfolio__title-name {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin: 20px 0 30px;
}

.portfolio .thumbnail {
  background-color: #fff;
}

.portfolio .thumbnail img {
  margin-bottom: 10px;
}

.portfolio .title-box {
  text-align: center;
}

.portfolio .title-box h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin: 20px 0 30px;
}

.portfolio .wrap-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .wrap-box .box {
  width: 100%;
  line-height: 200px;
  text-align: center;
  border-radius: 20px;
}

.portfolio .wrap-box .box-one,
.portfolio .wrap-box .box-two,
.portfolio .wrap-box .box-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.portfolio .owl-carousel {
  position: relative;
}

.portfolio .owl-carousel .owl-next,
.portfolio .owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  text-align: center;
}

.portfolio .owl-carousel .owl-prev {
  left: 90px;
}

.portfolio .owl-carousel .owl-next {
  right: 90px;
}

.portfolio .owl-carousel .owl-prev i,
.portfolio .owl-carousel .owl-next i {
  font-size: 50px;
  color: #f4511e;
  opacity: .5;
  width: 100%;
  height: auto;
}

.portfolio .owl-carousel .owl-prev i:hover,
.portfolio .owl-carousel .owl-next i:hover {
  opacity: 1;
}

.portfolio .owl-theme .owl-dots .owl-dot span {
  border: 1.5px solid #f4511e;
}

/* ------------------------------- PRICING ------------------------------- */
.pricing {
  padding: 60px 50px;
}

.pricing .pricing__title h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin: 20px 0 30px;
}

.pricing .pricing__content .panel:hover {
  -webkit-box-shadow: 5px 0px 40px rgba(15, 14, 14, 0.2);
          box-shadow: 5px 0px 40px rgba(15, 14, 14, 0.2);
}

.pricing .pricing__content .panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(3, 3, 3, 0.05);
          box-shadow: 0 1px 1px rgba(3, 3, 3, 0.05);
  border: 1px solid #f4511e;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.pricing .pricing__content .panel .panel__title {
  color: #fff;
  background-color: #f4511e;
  padding: 25px;
  border-bottom: 1px solid transparent;
}

.pricing .pricing__content .panel .panel__title h1 {
  font-size: 36px;
}

.pricing .pricing__content .panel .panel__list {
  padding: 15px;
}

.pricing .pricing__content .panel .panel__list p {
  margin: 0 0 10px;
}

.pricing .pricing__content .panel .panel__foot {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}

.pricing .pricing__content .panel .panel__foot h3 {
  color: #818181;
  font-size: 32px;
  margin: 20px 0 10px;
}

.pricing .pricing__content .panel .panel__foot .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

.pricing .pricing__content .panel .panel__foot .btn:hover {
  border: 1px solid #f4511e;
  background-color: #ffffff !important;
  color: #f4511e;
}

.pricing .pricing__content .panel .panel__foot .btn-panel {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* ------------------------------- CONTACT ------------------------------- */
.contact {
  padding: 60px 50px;
  background-color: #f6f6f6;
}

.contact .contact__title {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin: 20px 0 30px;
}

.contact .contact__content .contact__content-form .btn-form {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.contact .contact__content .contact__content-form .btn-form:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/*# sourceMappingURL=main.css.map */